<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24997631316-2eg27dr9t92gnd7at4vbv49pf973rk9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24997631316-2eg27dr9t92gnd7at4vbv49pf973rk9m</string>
	<key>API_KEY</key>
	<string>AIzaSyDnUdoARV3CfSPSjBCV12wTVUffOfaeqvA</string>
	<key>GCM_SENDER_ID</key>
	<string>24997631316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.booksapp</string>
	<key>PROJECT_ID</key>
	<string>rn-books-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-books-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24997631316:ios:54b28d8b8985ac1e0fe4c1</string>
</dict>
</plist>